<form action='/users' method="POST">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>Add a name: <input type="text" name="name"></p>
	<input type="submit" value='Add new name'>
</form>